/* Général */

body {
  font-family: arial, serif;
}

.bg-grey {
  background-color: #6B747D;
}

.display-none {
  display: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
}

:root {
  --main-bg-color: #6B747D;
}

.main-bg-color, article {
  background-color: var(--main-bg-color);
}

/* titres */

h1 {
  font-size: 4rem;
  text-align: center;
  background-color: #6B747D;
  color: white;
  padding: 10px 0;
}

h1 img {
  height: 4rem;
  /* la taille de la lettre M à la racine */
  width: 4rem;
  /* 16px */
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
}

h3 {
  font-size: 1.6rem;
  margin: 15px 0;
}

/* navigation */

nav {
  display: table;
  margin: 10px auto;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 20px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  margin: 0 15px;
}

/* les colonnes */

.column {
  float: left;
  width: 23%;
  margin: 0 1%;
  background-color: whitesmoke;
}

.column>div {
  padding: 20px;
}
