/* Général */

body {
  font-family: arial, serif;
}

.bg-grey {
  background-color: #6B747D;
}

.display-none {
  display: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
}

:root {
  --main-bg-color: #6B747D;
}

.main-bg-color {
  background-color: var(--main-bg-color);
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
}

h3 {
  font-size: 1.6rem;
  margin: 15px 0;
}

/* logo */

h1 {
  font-size: 4rem;
  background-color: #6B747D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 0;
}

h1 img {
  height: 4rem;
  width: 4rem;
}

h1>div {
  display: flex;
  /* alignement sur l'axe secondaire (vertical par défaut) */
  align-items: flex-start;
}

h1>div>div.top-char {
  margin-top: -10px;
}

#emo {
  position: relative;
  top: 6px;
}

/* flex navigation */

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li a {
  margin: 20px;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  background-color: var(--main-bg-color);
  display: block;
}

/* colonnes */

#columns {
  /* Le overflow fait en sorte que l'élément
  ne s'agrandisse pas même si ses enfants
  sont plus larges que lui */
  overflow-x: auto;
  margin: 0 15px;
  /*Modification de la marge pour laisser de l'air, changement sur l'overflow pour 
    que la barre disparaisse quand elle n'est pas nécéssaire */
}

#wrapper-columns {
  display: flex;
  justify-content: space-between;
  min-width: 400vw;
}

.column {
  flex-basis: 99vw;
}

/* cartes */

.column article {
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 0 0 30px 0;
  background-color: var(--main-bg-color);
}

/* footer */

footer {
  padding: 30px;
  color: white;
  text-align: center;
}

/* media queries */

/* Pour des écrans plus grand que 768px */

@media screen and (min-width: 768px) {
  /* les colonnes */
  #wrapper-columns {
    min-width: auto;
  }
  .column {
    flex-basis: 20%;
  }
}
